<html>
    <head>
        <title>Icebox!</title>
        <meta charset="UTF-8"> 
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        
        <div id="app">
                <b-navbar class="mb-3" sticky toggleable="md" type="dark" variant="info">
                    <b-navbar-brand href="#">Icebox!</b-navbar-brand>
                    <revert-order></revert-order>
                </b-navbar>
                <overview></overview>
        </div>
        
        <template id="revert-order-template">
            <b-collapse v-model="collapsed" id="revert-order-collapse">
                <b-button-group class="mr-3">
                    <b-button variant="danger"><span class="fas fa-times"></span></b-button>
                    <b-button>{{ selectedDrink.name }}</b-button>
                    <b-button>{{ selectedUser.username}}</b-button>
                    <b-button variant="success"><span class="fas fa-check"></span></b-button>
                </b-button-group>
            </b-collapse>
        </template>

        <template id="overview-template">
            <b-container fluid class="bv-example-row" >
                <keyboard></keyboard>

                <consumers></consumers>
        
                <drinks></drinks>
            </b-container>            
        </template>
        
        <template id="keyboard-template">
            <b-container fluid >
                <b-button-group  class="mb-3">
                    <b-button size="lg" v-on:click="deleteInput" variant="warning"><span class="fas fa-times"></b-button>
                    <b-input v-model='input' placeholder="Benutzer filtern"></b-input>
                    <b-button size="lg" v-on:click="pressed" v-for='letter in letters'>{{letter}}</b-button>
                
                </b-button-group>
            </b-container>
        </template>

        <template id="drinks-template">
            <b-container fluid>
                <h3>Getränk wählen..</h3>
                <b-card-group columns>                               
                    <b-card v-for="drink in drinks" :key="drink.name" bg-variant="secondary" text-variant="white">
                        <b-card-body>
                            <b-img width="30%" class="mr-4" fluid v-bind:src="drink.image">

                            </b-img>
                            <span>
                                {{drink.name}} {{ drink.fullprice /100}}€
                            </span>
                        </b-card-body>
                    </b-card>                         
                </b-card-group>
            </b-container>
        </template>
        
        <template id="consumers-template">
                <div class="mb-3">
                    <b-container fluid>
                        <h3>Wähle deinen Nutzernamen..</h3>
                        <b-row>
                            <b-col sm="6" lg="4" md="3" xl="2" v-for="consumer in filteredConsumers" :key="consumer.username">
                                <b-button class="m-1" size="lg" v-bind:key="consumer.username" v-bind:value="consumer.username" v-on:click="selectConsumer" block variant="primary">
                                    {{consumer.username}}
                                </b-button>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>    
        </template>

        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>