
<html>
    <head>
        <title>Icebox!</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
        <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/> -->
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        <!-- <link type="text/css" rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css" /> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    </head>
    <!--
Copyright (c) 2018 Johannes Christian Gosch
Permission is hereby granted, free of charge,
to any person obtaining a copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial
portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
    <body>
        <style type="text/css">
            ::-webkit-scrollbar {
                display: none;
            

            }
            *{
                cursor: none;
            }
        </style>

        <div id="app">
                <b-modal id="error" title="Ooops">
                        <p class="my-4">Irgend etwas ist schief gelaufen, eventuell hast du kein Guthaben.</p>
                </b-modal>
            <b-navbar style=" height:90px;" sticky toggleable="sm" type="light" variant="light">
     
                    <b-navbar-brand href="#"><b-img src="img/icebox-logo-klein.png"></b-img></b-navbar-brand>
 
                <router-view name="navbar">
            </b-navbar>
            <router-view name="main">
        </div>
        <div>


        <template id="inventur-template">
            <b-container fluid>
                <drinks inventur></drinks>
            </container>
        </template>

        <template id="revert-order-template">
            <b-container fluid>
            <b-collapse v-model="collapsed" invisible id="revert-order-collapse">
                  <b-button-group class="lg">
                        <b-button variant="danger" v-on:click="deselectUser(); deselectDrink()"><span class="fas p-3 fa-2x fa-times"></span></b-button>
                        <b-button class="p-4" v-on:click="deselectUser()">{{ selectedUserName }} <b-badge variant="info" v-if="state.selectedUser != null && state.selectedUser.username != 'Anon' ">{{ state.selectedUser.ledger/100 }}€</b-badge></b-button>
                        <b-button class="p-4" disabled>kauft</b-button>
                        <b-button class="p-4" v-on:click="deselectDrink()">{{ selectedDrinkName }} <b-badge variant="info" v-if="state.selectedDrink != null && state.selectedUser != null && state.selectedUser.username != 'Anon'">{{state.getDrink().discountprice/100}}€</b-badge><b-badge variant="info" v-else-if="state.selectedDrink != null && state.selectedUser != null && state.selectedUser.username == 'Anon'">{{state.getDrink().fullprice/100}}€</b-badge></b-button>
                        <b-button class="" v-if="((state.selectedUser != null && state.selectedUser.username == 'Anon' && state.selectedDrink != null) || (state.selectedUser != null && state.selectedDrink != null && state.getDrink().discountprice <= state.selectedUser.ledger))" variant="success" v-on:click="buy()"><span class="fas p-3 fa-2x fa-check"></span></b-button>
                    </b-button-group>
                    
                </b-collapse>

                <b-alert class="mr-auto mb-2 mt-2" :show="dismissCountDown"
                dismissible
                fade
                variant="secondary"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged">
                    Gekauft! Du kannst noch {{dismissCountDown}} Sekunden <b-button v-on:click="unbuy" variant="danger"> Undo</b-button> machen!
                </b-alert>
            </b-container>
        </template>

        <template id="overview-template">
              <!-- Modal Component -->
            <b-container fluid >
                <b-collapse v-model="showConsumers" id="consumer-collapse">
                    <keyboard></keyboard>
                    <consumers></consumers>
                </b-collapse>
                <drinks></drinks>
            </b-container>
        </template>

        <template id="keyboard-template">
            <b-container fluid class="mt-4">
                <div class="mb-3">
                    <b-button-group>
                        <b-button size="lg" v-on:click="deleteInput" variant="warning"><span class="fas fa-times"></b-button>
                        <b-input v-model='filterinput' v-on:input="changed" placeholder="Benutzer filtern"></b-input>
                    </b-button-group>
                    <b-button style="margin-right:0.1em;" size="lg" v-on:click="pressed" v-for='letter in letters'>{{letter}}</b-button>
                </div>
            </b-container>
        </template>

        <template id="drinks-template">
            <b-container fluid>
                <h3>Getränk wählen:</h3>
                <b-row>
                    <b-col sm="12" lg="6" md="4" xl="3" v-for="drink in state.drinks" :key="drink.barcode">
                        <b-button 
                        class="m-1 text-left"
                        size="lg"
                        v-bind:key="drink.barcode"
                        v-bind:value="drink.barcode"
                        v-on:click="selectDrink(drink.barcode)"
                        block variant="danger">
                            <b-container fluid>
                                <b-row>
                                    <b-col cols="4">


                                        <b-img
                                        center 
                                        height="90em" block
                                        alt="test"                                     
                                        v-bind:src="drink.image"
                                        onerror="this.src='img/bottle.png'"
                                        class="fallback"
                                        />
                                
                                    </b-col>
                                    <b-col cols="8">
                                        <div>
                                            {{drink.name}}<br/>
                                            Anzahl: {{drink.quantity}}<br/>
                                            Preis: <template v-if="state.selectedUser === 'Anon'">{{drink.fullprice}}</template>
                                                   <template v-else>{{drink.discountprice}}</template>
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-button>
                    </b-col>
                </b-row>
            </b-container>
        </template>

        <template id="consumers-template">
                <div class="mb-3">
                    <b-container fluid>
                        <h3>Wähle deinen Nutzernamen:</h3>
                        <b-row>
                          <b-col cols="12"><b-button block variant="success" v-on:click="selectConsumer({username: 'Anon'})" class="m-1" block><span class="font-weight-bold" style="font-size:4em;">Bar</span></b-button></b-col>
                        </b-row>
                        <b-row>
                            <b-col sm="6" lg="3" md="4" xl="2" v-for="consumer in filteredConsumers" :key="consumer.username">
                                <b-button class="m-1" size="lg" v-bind:value="consumer" v-on:click="selectConsumer(consumer)" block variant="primary">
                                    {{ consumer.username }}
                                </b-button>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
        </template>

        <script src="app.js"></script>
    </body>
</html>
